<template>
  <h1>User Agent</h1>
  <textarea
    :value="ua"
    readonly
    rows="4"
    style="width: 90%; border: none; resize: none"
    @click="selectAll"
  />
  <h1>Screen</h1>
  <div>Resolution: {{ screenPx }}</div>
  <div>DPR: {{ dpr }}</div>
  <div>Orientation: {{ orientation }}</div>
  <h1>Platform</h1>
  <pre style="font-family: monospace">{{ platform }}</pre>
</template>
<script setup lang="ts">
// @ts-ignore
import { platformDetect } from "./platform";
const ua = navigator.userAgent;
const platform = JSON.stringify(platformDetect(), null, 2);
const { width, height } = window.screen;
const screenPx = `${width}x${height}`;
const dpr = window.devicePixelRatio;
const orientation = screen.orientation?.type;
const selectAll = (e: MouseEvent) => {
  (e.target as HTMLInputElement)?.select();
};
</script>
